.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .margins-top{
    margin-top: 60px !important;
}
#button2.childcomponent{
  padding-left: 800px ;
}
.childcomponent{
  padding-left: 895px;
}

#myInput.mdc-text-field__input{
  text-align: center !important;

}

