<mat-toolbar  class="mat-elevation-z9 bg-danger">
    <span class="fw-bolder">Gamp </span>
    <span class="example-spacer"></span>
    <button mat-raised-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLinkActive="mat-warn" routerLink="/table">Table
      <mat-icon>table_chart</mat-icon>
    </button>
    <button mat-raised-button  class="example-icon" aria-label="Example icon-button with share icon" routerLinkActive="mat-warn" routerLink="/forms"> Table Form
      <mat-icon>library_books</mat-icon>
    </button>
  </mat-toolbar>
  <!-- 
  *Toolbar to be used to navigate to table and form used routerlink for that & routerlinkactive to highlight the link with warn color
   -->