<mat-toolbar  class="mat-elevation-z9 bg-danger">
  <button  mat-icon-button class="example-icon ps-1" aria-label="Example icon-button with share icon" routerLinkActive="mat-warn" routerLink="/settings">
    <mat-icon color="primary">settings</mat-icon>
  </button>
  <button  mat-icon-button class="example-icon ps-1" aria-label="Example icon-button with share icon" routerLinkActive="mat-warn" routerLink="/cars">
    <mat-icon color="primary">car_rental</mat-icon>
  </button>
    <span class="fw-bolder">Gamp </span>
    <span class="example-spacer"></span>
    <button mat-raised-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLinkActive="mat-warn" routerLink="/table">Table
      <mat-icon>table_chart</mat-icon>
    </button>
    <button mat-raised-button  class="example-icon" aria-label="Example icon-button with share icon" routerLinkActive="mat-warn" routerLink="/forms"> Table Form
      <mat-icon>library_books</mat-icon>
    </button>
    <button mat-raised-button  class="example-icon" aria-label="Example icon-button with share icon" routerLinkActive="mat-warn" routerLink="/nation"> Nation and Population
      <mat-icon>nature_people</mat-icon>
    </button>
    <button mat-raised-button  class="example-icon" aria-label="Example icon-button with share icon" routerLinkActive="mat-warn" routerLink="/coin"> Bit Coin
      <mat-icon>attach_money</mat-icon>
    </button>
  </mat-toolbar>
  <!-- 
  *Toolbar to be used to navigate to table and form used routerlink for that & routerlinkactive to highlight the link with warn color
   -->