<ng-content class="container">
    <mat-form-field [formGroup]="registerForm" class="example-full-width" >
    <mat-label>{{label}}</mat-label>
    <input [formControl]="control" placeholder={{placeholder}} matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngFor="let error of getErrors()">{{error}}</mat-error>
  </mat-form-field>
</ng-content>
  